streamlit
langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-experimental
langchain-huggingface
langchain-chroma
langchain-qdrant
langchain-milvus
chromadb
qdrant-client
pymilvus[milvus_lite]
llama-cpp-python
pypdf
sentence-transformers
huggingface_hub
torch
torchvision
